<div class="product-item">
    <div class="product-image-item">
        <a href="{% url 'product' product_image.product.id%}">
            <img src="{{product_image.image.url}}" class="img-fluid">
        </a>
    </div>
    {{product_image.product.name}}
    {{product_image.product.category}}
    {{product_image.product.short_description}}
    {{product_image.product.price}}
    {% if product_image.product.discount %}
        <div class="discount-container">
            <span>{{product_image.product.discount}}%</span>
        </div>
    {% endif %}
    <div class="add-to-cart-btn">
        <button class="btn btn-success">
            Добавить в корзину
        </button>
    </div>
</div>

